.container {
  width: 80%;
  height: auto;
  margin: 30px auto;
  text-align: center;
}

.content {
  height: 720px;
  width: 35%;
  margin: auto;
  border: 5px solid black;
}

.calculator {
  background-color: grey;
  display: flex;
}

#display, #zero, #first, #second, #third, #fourth {
  width: 100%;
  height: 110px;
  background-color: grey;
  display: flex;
  padding: 5px 0;
}

#display {
  width: 100%;
  border-bottom: 2px solid black;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 46px;
  font-weight: bold;
}

#btn, #btn0, #btn1, #btn2, #btn3, #btn4, #btn5, #btn6, #btn7, #btn8, #btn9, #btnClear, #btnSum, #btnResault  {
  width: 24%;
  height: 100%;
  margin: 0 1%;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 46px;
  font-weight: bold;
  cursor: default;
}

#zero div:hover, #first div:hover, #second div:hover, #third div:hover, #fourth div:hover {
  background-color: green;
}
